<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HIGH CLASS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/logo-3.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img class="rounded mx-auto d-block " src="/img/logo-3.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="https://www.facebook.com/bassel.fares.908">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block">
                                    <a class="#" href="#">+49 176 65075242</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container mt-3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <div class="deal_text">
                                    <span>Shisha Lounge</span>
                                </div>
                                <h3>HIGH<br>
                                    C L A S S</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container mt-3">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-9 col-md-9 col-md-12">
                            <div class="slider_text text-center">
                                <div class="deal_text">
                                    <span>Shisha Lounge</span>
                                </div>
                                <h3>HIGH <br>
                                    C L A S S </h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title text-center mb-80">
                        <span>Menü</span>
                        <h3>HIGH CLASS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/shisha.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >EDELTABAK</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Doppel Apfel 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    11,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Traube Minze 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Minze
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Orange 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Pantaja (Drachenfrucht) 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Love 66
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Wassermelone 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    11,00€
                                </div>
                              </div>
                            <br><br>
                            <h3 class="text-center">EDELTABAK</h3>
                            <br>
                            <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Lemon Chill  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    12,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Watermelon Chill
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    12,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Blueberry Eis 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    12,00€

                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Moloko  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    12,00€

                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Pistazien mit Milch
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    12,00€
                                </div>
                              </div>

                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/Softgetränke-1.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >SOFTGETRÄNKE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Cola, Cola Light, Cola Zero 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    3,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Fanta
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Mezzomix
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Sprite 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Arizona grüntee  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Arizona Eistee
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Arizona Granatapfel 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                            
                            <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Arizona Blueberry  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Arizona Wassermelone
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    5,00€
                                </div>
                              </div>
                              
                        </div>
                        
                    </div>

                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/freut.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >SÄFTE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Ananassaft 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    4,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Mangosaft
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Orangensaft
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Maracujasaft 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Kiba  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Bananensaft
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Kirschsaft 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,00€
                                </div>
                              </div>
                              
                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/Energy-Drinks.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >ENERGYDRINKS</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Redbull 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    4,50€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    28 Black schwarze Dose 46
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Moloko
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              
                              
                              
                        </div>
                        
                    </div>

                </div>
               
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/header-1.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >KALTE GETRÄNKE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Stilles Wasser &nbsp;&nbsp;&nbsp;&nbsp;(0,2l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    3,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Mineralwasser &nbsp;&nbsp;&nbsp;(0,2l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Stilles Wasser &nbsp;&nbsp; &nbsp;(&nbsp;1l&nbsp;)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    15,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Mineralwasser &nbsp;&nbsp; (&nbsp;1l&nbsp;)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    15,00€
                                </div>
                              </div>
                              
                              
                              
                        </div>
                        
                    </div>

                </div>
            
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/Barrel_Beer_Stemware_485521.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >BIERE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Beck's &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(0,33l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    4,50€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Beck's Gold &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(0,33l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Beck's Lemon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(0,33l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Beck's Alkoholfrei &nbsp;&nbsp;(0,33l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Desperados &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(0,33l)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              
                              
                              
                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/1596034304835,tee-aufgiessen-100__v-16x9@2dL_-6c42aff4e68b43c7868c3240d3ebfa29867457da.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >HEISSE GETRÄNKE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Tee verschiedene Sorten
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    3,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Grünetee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Pfefferminztee
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Schwarztee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Apfeltee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Kamillentee
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Kräutertee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Zitronentee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Zehorat 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Teekanne für 3 Personen 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    8,00€
                                </div>
                              </div>
                            
                            

                        </div>
                        
                    </div>

                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/kaffee-arten.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >KAFFEE SORTEN</h3>
                            <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Espresso
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Kaffee 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Latte Machiato  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Cappuccino
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Milch-Honig 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    3,00€
                                </div>
                              </div>
                            
                              
                              
                        </div>
                        
                    </div>

                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/unnamed.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >LONGDRINKS</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Syrischer Raki
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    10,00€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Jacky-Cola 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Chivas-Cola
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    12,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Vodka-Redbull 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Vodka-Mischung nach Wahl 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Barcardi-Sprite
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Havana-cola 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Gin Tonic 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    10,00€
                                </div>
                              </div>
                              <br>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Vodka auf Eis 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Jaky auf Eis 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Baileys auf Eis 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Chivas auf Eis 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    8,00€
                                </div>
                              </div>
                            

                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/longdrink.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >KURZE</h3>
                            <br>
                                
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Erdbeer Lime &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo">
                                    4,50€
                                </div>
                              </div>
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Jägermeister &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Tequila &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Baileys &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Vodka &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Whisky &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    4,50€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Sambuka   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2cl)
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    5,00€
                                </div>
                              </div>
                              
                              
                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/weine-italien.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >Wein</h3>
                            <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Weißwein
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Trocken 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Rotwein 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Trocken
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Weißweinschorle 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    7,00€
                                </div>
                              </div>
                              <br><br>
                              <h3 class="  text-center" >Sekt</h3>
                              <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Hugo
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                            
                              
                              
                        </div>
                        
                    </div>

                </div>
            
                

                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/sommer-cocktails-cocktailparty.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >COCKTAILS &nbsp; ALKOHOLFREI</h3>
                            <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Ipanema
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    7,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Virgin Colada 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    7,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Baby Colada  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    7,00€
                                </div>
                              </div>
                                 
                        </div>
                        
                    </div>

                </div>
                
                <div class="col-md-6 col-lg-6">
                    <div class="row col-sm-12  d-flex align-items-center">
                        
                        <div class="info  col-sm-12 col-xs-12">
                            <div class="thumb text-center col-12 mb-3" >
                                <br><br>
                                <img class="imgradius  mx-5 mr-5 " src="img/sex-on-the-beach-rezept.png" alt="">
                            </div>
                            <br>
                            <h3 class="  text-center" >COCKTAILS &nbsp; MIT &nbsp;ALKOHOL</h3>
                            <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Pina Colada
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Mojito 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Cubalibre  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Sex an the Beach
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo ">
                                    Tequila Sunrise 
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Caipirinha  
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    9,00€
                                </div>
                              </div>
                              <br><br>
                              <h3 class="  text-center" >Snacks</h3>
                            <br>
                                
                              
                              <div class="row justify-content-between">
                                <div class="col-sm-9 col-9 mb-2 fofo">
                                    Nachos mit Dip
                                </div>
                                <div class="col-sm-3 col-3 mb-2 fofo ">
                                    6,00€
                                </div>
                              </div>
                                 
                        </div>
                        
                    </div>

                </div>

                

                    <div class="col-md-6 col-lg-6">
                        <div class="row col-sm-12  d-flex align-items-center">
                            
                            <div class="info  col-sm-12 col-xs-12">
                                <div class="thumb text-center col-12 mb-3" >
                                    <br><br>
                                    <img class="imgradius  mx-5 mr-5 " src="img/81hkNdNsYGL._AC_SL1500_.png" alt="">
                                </div>
                                <br>
                                <h3 class="  text-center" >FLASCHEN</h3>
                                <br>
                                    
                                  
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9  mb-2 fofo">
                                        Belvedere
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        150,-€
                                    </div>
                                  </div>
                                  
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo ">
                                        Absolut 
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        90,-€
                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Jack Daniels  
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        100,-€
                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Chivas
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        120,-€
                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo ">
                                        Rotwein Trocken 
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        40,-€
                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Weißwein Chardonnay Trocken  
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        40,-€
                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Sekt  
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        35,-€
                                    </div>
                                  </div>

                                  <br><br><br>
                                 <h3 class="  text-center" >CHAMPAGNER</h3>
                                 <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Moet
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        120,-€
                                    </div>
                                  </div>
                                  <br><br><br>
                                  <h3 class="  text-center">KNABBERZEUG</h3>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Obstteller
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        15,00€


                                    </div>
                                  </div>
                                  <div class="row justify-content-between">
                                    <div class="col-sm-9 col-9 mb-2 fofo">
                                        Nüsse Maoaleh
                                    </div>
                                    <div class="col-sm-3 col-3 mb-2 fofo ">
                                        10,00€


                                    </div>
                                  </div>
                                  <br><br>
                            </div>
                            
                        </div>
    
                    </div>
                

                    
                </div>
            </div>
            
        </div>
    </div>
    
    
    

    

    

    <footer class="footer footerBackcolor">
            <div class="footer_top">
                <div class="container ">
                    <div class="row fotterAdress  text-center  "  >
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                    HIGH CLASS
                                </h3>
                                <p>Herzlich Willkomen bei der HIGH CLASS Lounge in Hamburg. Unsere Shisha Lounge wurde mehrfach zur beliebtesten Shisha Lounge in Hamburg gewählt. Wir freuen uns auf Ihren Besuch.
                                </p>
                                    
    
                            </div>
                        </div>

                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                    HIGH CLASS
                                </h3>
                                <p class="paraAdress">Barmbeker Markt 37, <br> 
                                    22081 Hamburg <br>
                                        </p>
                                
    
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 col-lg-4">
                            <div class="footer_widget text-center ">
                                <h3 class="footer_title pos_margin">
                                    HIGH CLASS
                                </h3>
                                <p>Rufen Sie uns an
                                        </p>
                                <a class="number" href="#">+49 176 65075242</a>
    
                            </div>
                        </div>

                        
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="socail_links text-center">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-instagram"></i>
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="https://www.facebook.com/bassel.fares.908">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                       
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    
                </div>
            </div>
        </footer>


    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

</body>

</html>